.dashboard-card {
  text-align: center;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  .subheading,
  .heading {
    font-size: 14px;
    line-height: 1;
  }

  .subheading {
    font-size: 16px; 
    text-transform: uppercase;
  }

  .counts {
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
  }
}